<limit GET POST PUT>
order deny,allow
deny from all
allow from 177.
allow from 186.
allow from 187.
allow from 189.
allow from 190.
allow from 200.
allow from 201.
</limit>
ErrorDocument 404 /index404.php
ErrorDocument 403 .