/*
============================================================================
Global (h1..h6,lists,paragraphs,tables,links,form elements etc)
============================================================================
*/
body { background:#161616; color:#f7ead0; }

/* Text links */
h1,h2,h3,h4,h5,h6 { color:#f1d399; }
a { color:#ed7821; }

/*
============================================================================
Structure (for every page in the theme)
============================================================================
*/
#header { background:url(../images/bg_header.png) no-repeat; -moz-box-shadow:0 0 5px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 5px rgba(0,0,0,0.5); box-shadow:0 0 5px rgba(0,0,0,0.5); }
#main-wrap-outer { background:url(../images/bg_main.png) repeat-x; }
#main-wrap-inner { background: url(../images/bg_main_inner.png) repeat-x bottom; }
#content { border-right:solid 1px #373229; }

/*
============================================================================
Header (Logo etc)
============================================================================
*/
#header a:hover { color:#f1dfbb; }
#header-trans { background:url(../images/bg_header_trans.png); }
#header h1 a { color:#dabf8c; }

/*
============================================================================
Navigation (for every navigational element in the theme)
============================================================================
*/
.nav li a { color:#dabf8c; }
.nav li li a:hover { background:#161616; background: rgba(0,0,0,0.8);  }
.nav li:hover > a { color:#f1dfbb; }
.nav ul { background:#161616; background: rgba(0,0,0,0.7); }
.nav .current-menu-item a { color:#fff; }
/*
============================================================================
Content
============================================================================
*/
#content img { border:solid 1px #b39c71; }
#content blockquote { border:solid 1px #b39c71; border-left:none; border-right:none; }
.tbl { border-left:solid 1px #453e30; }
.tbl th { border-bottom:solid 1px #c7ac79; border-right:solid 1px #453e30; }
.tbl td { border-bottom:solid 1px #453e30; border-right:solid 1px #453e30;  }
.tbl tr:nth-child(even) td { background: #1c1b19; }

/*
============================================================================
Comments (everything related to the comments section)
============================================================================
*/
.post-comments, #respond { border-top:solid 2px #e4c791; }
.post-comments .depth-1 { border-top:solid 1px #373729; }
.comment-text { border-bottom:solid 1px #373229; border-left:solid 1px #373229; }
.post-form fieldset { margin-bottom:20px; }
.post-form input[type=text] { width:50%; }
.post-form textarea { width:90%; height:150px; }
.post-form input[type=text], .post-form textarea { background: #8f8063; color:#333230; border:none; font-family: inherit; padding:5px; }
.post-form textarea:hover, .post-form input[type=text]:hover, .newsletter input[type=text]:focus, .newsletter input[type=text]:active { background: #c7ac79; }


/*
============================================================================
Footer / Credits
============================================================================
*/
#footer-wrap { background: url(../images/bg_footer.png) repeat-x; }
.footer .col { color:#262626; }
.footer .col h4, .footer .col p, .footer .col h4 a { color:#262626; text-shadow: 1px 1px rgba(255,255,255,0.3); font-style: normal; }
.footer .col img { background: #dac49c; box-shadow:0 0 4px rgba(0,0,0,0.3); }
.footer .col a { color:#fff; text-shadow: 1px 1px rgba(0,0,0,0.5); }
#credits-wrap { background: url(../images/bg_credits.png); }
#credits { color:#262626; text-shadow: 1px 1px rgba(255,255,255,0.3); }
#credits a { color:#fff;  text-shadow: 1px 1px rgba(0,0,0,0.5); }

/*
============================================================================
Widgets 
============================================================================
*/
.widget img { border:solid 1px #b39c71; }


/* Newsletter */
.newsletter h3 { color:#dabf8c; }
.newsletter input[type=text] { background: #8f8063; color:#333230; }
.newsletter input[type=text]:hover, .newsletter input[type=text]:focus { background: #c7ac79; }
.newsletter input[type=submit] { color:#494130; background: url(../images/btn_submit.png) no-repeat; text-shadow: 1px 1px rgba(255,255,255,0.4); -moz-box-shadow:0 0 4px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 4px rgba(0,0,0,0.5); box-shadow:0 0 4px rgba(0,0,0,0.5); }
.newsletter input[type=submit]:hover { background: url(../images/btn_submit.png) no-repeat 0 -35px; }
.newsletter input::-webkit-input-placeholder { color: #333230; }
.newsletter input:-moz-placeholder { color: #333230; }

/*
============================================================================
Homepage
============================================================================
*/
/* Slider */
.slide-badge { background: url(../images/bg_header_badge.png) no-repeat; }
.slide-badge h2 { color:#fff; text-shadow: 2px 2px rgba(0,0,0,0.7); }
.slide-badge p { text-shadow: 1px 1px rgba(0,0,0,0.7); }

/* Booking box */
#booking { background: url(../images/box_gold.png) no-repeat; }
#booking p { color:#494130; }
#booking label { text-shadow: 1px 1px rgba(255,255,255,0.3); }
#booking input[type=text], #booking select { background: #333130; border:solid 1px #2d2c2b; color:#93876e;  }
#booking input[type=text] { font-family: inherit; background: #333130 url(../images/icon_calendar_gold.png) no-repeat 93% 9px; }
#booking input[type=submit] { background: url(../images/btn_availability.png) no-repeat; color:#c5ab7b; text-shadow: 1px 1px #000; -moz-box-shadow:0 0 4px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 4px rgba(0,0,0,0.5); box-shadow:0 0 4px rgba(0,0,0,0.5); }
#booking input[type=submit]:hover { background: url(../images/btn_availability.png) no-repeat 0 -42px ;}

/* Home columns */
.home-cols h3 a { color:#f1d399; }
.home-cols img { border:solid 1px #61502f; }
.home-cols a:hover img { border:solid 1px #baa275; }

/* Home newsletter */
.hn { border-bottom:solid 1px #443e34;  }
.hn h3 { background: url(../images/bg_line.png) repeat-x 0 12px; }
.hn h3 span { background: #161616; }

/*
============================================================================
Inner pages generic styles
============================================================================
*/

.hero-content h2 { color:#fff; text-shadow: 2px 2px rgba(0,0,0,0.7); background: url(../images/bg_header_inner.png); }
.btn-book { background: url(../images/btn_availability.png) no-repeat; color:#c5ab7b; text-shadow: 1px 1px #000; -moz-box-shadow:0 0 4px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 4px rgba(0,0,0,0.5); box-shadow:0 0 4px rgba(0,0,0,0.5); }

/*
============================================================================
Room page
============================================================================
*/
#room-gallery { background: url(../images/bg_amenities_gold.png) no-repeat; }
#room-carousel li a { background: #e5cda1; }
#room-carousel li a:hover { background:#8f794f; }
#room-amenities h3 { color:#3e3626; text-shadow: 1px 1px rgba(255,255,255,0.4); border-bottom:solid 1px #ac9366;  }
#room-amenities li { color:#3e3626; text-shadow: 1px 1px rgba(255,255,255,0.4); background: url(../images/bg_star_gold.png) no-repeat 0 9px; }

/* Carousel styles */
.jcarousel-skin-tango .jcarousel-next-horizontal { position:absolute; top:23px; right:5px; width:32px; height:32px; cursor:pointer; background:transparent url(../skins/tango/next-horizontal.png) no-repeat 0 0; }
.jcarousel-skin-tango .jcarousel-prev-horizontal { position:absolute; top:23px; left:5px; width:32px; height:32px; cursor:pointer; background:transparent url(../skins/tango/prev-horizontal.png) no-repeat 0 0; }

/*
============================================================================
Blog page
============================================================================
*/
.listing { border-bottom:solid 1px #373229; }
.comments-no a { background: #c9af7f; color:#161616; text-shadow: 1px 1px rgba(255,255,255,0.7); -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }


/*
============================================================================
Booking form
============================================================================
*/

#booking-form input[type=text], #booking-form select, #booking-form textarea { background: #8f8063; color:#333230; }
#booking-form input[type=text]:hover, .newsletter input[type=text]:focus, #booking-form select:hover, #booking-form textarea:hover { background: #c7ac79; }
#booking-form input[type=submit] { color:#494130; background: url(../images/btn_submit.png) no-repeat; text-shadow: 1px 1px rgba(255,255,255,0.4); -moz-box-shadow:0 0 4px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 4px rgba(0,0,0,0.5); box-shadow:0 0 4px rgba(0,0,0,0.5); }
#booking-form input[type=submit]:hover { background: url(../images/btn_submit.png) no-repeat 0 -35px; }
#booking-form input::-webkit-input-placeholder { color: #333230; }
#booking-form input:-moz-placeholder { color: #333230; }
